# Development metadata such as .devcontainer, .idea, .vscode and .github is
# intentionally versioned in this repository.

*.code-workspace
node_modules
.commitinfo
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
